<!DOCTYPE html>
<html>
<head>
  <title>CPE Blocks</title>
  <meta http-equiv="refresh" content="5"> <!-- auto refresh every 5 sec -->
  <style>
    .grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 20px;
      margin: 40px;
    }
    .block {
      border: 2px solid #333;
      border-radius: 10px;
      padding: 30px;
      text-align: center;
      font-size: 24px;
      font-weight: bold;
      background-color: #faf880;
    }
  </style>
</head>
<body>
  <h1 style="text-align:center;">CPE Blocks</h1>
  <div class="grid">
    <% for (let i = 0; i <= ids.length; i++) { %>
      <% if ((ids[i]+"").includes("CPE#")) { %>
        <div class="block"><%= ids[i] %>
          <% for (let j = 0; j < data[ids[i]].length; j++) { %>
            <p style="font-size: 0.7em;">IP:<span style="color: blue;"><%= data[ids][j]['ip'] %> </span>
             Time: <span style="color: blue;"><%= data[ids][j]['time'] %></span></p>
            <% } %>
          </div>
      <% } %>
    <% } %>
  </div>
</body>
</html>
